
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.header {
    margin: 0;
    padding: 0;
    width: 100%;

}
.container {
    max-width: 600px;
    margin: 50px auto; 
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#questionario-container, #resultado {
    display: none; /* O questionário está oculto inicialmente */
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;

}

h2 {
    color: #333;
   
}

img {
    width: 100%; /* A largura ocupará todo o topo */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem não tenha espaço extra ao redor */
    object-fit: cover; /* Ajusta a imagem ao tamanho da div */
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

button:hover {
    background-color: #0056b3;
}

input[type="number"] {
    width: 20%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    #questionario-container, #resultado {
        padding: 15px;
    }

    button {
        width: 100%;
        padding: 15px;
        display: block;
    }

    input[type="number"] {
        padding: 15px;
    }
}
